@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");
.hero {
  background-color: #2e1324;
  color: white;
  padding-block: 5rem;
}
.hero .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .hero .hero-container .hero-logo .hero-logo-ogt {
    width: 320px;
    height: 160px;
  }
}
.hero .hero-container .hero-sub_heding {
  margin-block: 2rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
}
@media (max-width: 768px) {
  .hero .hero-container .hero-sub_heding {
    font-size: 18px;
  }
}
.hero .hero-container .hero-sub_heding > * {
  width: 50rem;
}
@media (max-width: 768px) {
  .hero .hero-container .hero-sub_heding > * {
    width: 20rem;
  }
}
.hero .hero-container .hero-cta {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .hero .hero-container .hero-cta {
    flex-direction: column;
    gap: 2rem;
  }
}
.hero .hero-container .hero-cta .btn {
  font-weight: 600;
  font-size: 2.1rem;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  padding: 1rem 2rem;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .hero .hero-container .hero-cta .btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }
}

.footer {
  background-color: #2e1324;
  color: white;
  width: 100%;
  height: 100%;
}
.footer .footer-container {
  max-width: 1100px;
  height: 300px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .footer-logo {
  margin-right: 20px;
}
.footer .footer-container .footer-logo p {
  margin-top: 20px;
}
.footer .footer-container .footer-logo img {
  width: 270px;
  height: 150px;
}
.footer .footer-container .footer-links h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer .footer-container .footer-links .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.footer .footer-container .footer-links .socials a {
  color: white;
  font-size: 1.5rem;
  margin-right: 20px;
}
.footer .footer-container .footer-links .socials a:last-child {
  margin-right: 0;
}
.footer .footer-container .footer-links .sponsor-info img {
  width: 350px;
  height: 50px;
}

@media Screen and (max-width: 768px) {
  .footer .footer-container {
    flex-direction: column;
    height: 100%;
  }
  .footer .footer-container .footer-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer .footer-container .footer-logo img {
    width: 200px;
    height: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}
a:hover {
  color: #fff !important;
}

.navbar-purple {
  background-color: #2e1324;
}
.navbar-purple .navbar-nav {
  font-size: 1.6rem;
}
.navbar-purple .navbar-toggler .navbar-toggler-icon {
  color: white;
}

/*# sourceMappingURL=style.css.map */
