.prize {
  background-color: #fff;
  color: #000;
  padding-block: 3rem;

  .prize-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;

    .prize-header {
      font-size: 4rem;
      margin-block: 2rem;

      @media (max-width: 768px) {
        font-size: 3.2rem;
        line-height: 60px;
        margin-block-end: 2rem;
        margin-block-start: 1.5rem;
      }
    }

    .prize-text {
      font-size: 1.5rem;
      line-height: 29px;
      text-align: center;
      margin-block-end: 4rem;

      @media (max-width: 768px) {
        text-align: left;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }

    .caro {
      display: block;

      .carousel-control-prev-icon {
        margin-left: -50px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
      }

      .carousel-control-next-icon {
        margin-right: -50px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .prize-images {
      display: flex;
      flex-direction: row;
      gap: 7rem;

      @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        gap: 3rem;
      }
    }

    .prize-cta {
      margin-block-start: 5rem;
      margin-block-end: 2rem;

      .btn {
        font-weight: 600;
        font-size: 2.1rem;
        color: #2e1324;
        background-color: transparent;
        border: 3px solid #2e1324;
        padding: 1rem 2rem;
        border-radius: 25px;

        @media (max-width: 768px) {
          font-size: 1.1rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
