.sponsor {
  background-color: #fff;
  color: #000;
  padding-block: 3rem;

  .sponsor-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sponsor-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-end: 2rem;

      .header-text {
        color: #2e1324;
        h1 {
          font-size: 4.5rem;
          font-weight: bold;
          margin-block-end: -10px;
        }
        p {
          font-size: 3.5rem;
          font-weight: 600;
        }
      }
      .sponsor-image {
        display: flex;
        margin-block-start: -30px;
      }
    }

    .sponsor-cta {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .sponsor-cta-text {
        width: 60%;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 29px;
      }

      .btn {
        font-weight: 600;
        font-size: 2.1rem;
        color: #2e1324;
        background-color: transparent;
        border: 3px solid #2e1324;
        padding: 1rem 2rem;
        border-radius: 25px;

        @media (max-width: 768px) {
          font-size: 1.1rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

@media Screen and (max-width: 968px) {
  .sponsor {
    padding-block: 2rem;
    .sponsor-container {
      .sponsor-header {
        flex-direction: column;
        .header-text {
          h1 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .sponsor-image {
          img {
            width: 400px;
            height: 50px;
          }
        }
      }
    }
  }
}
